body{
    font-size: 18px;
    background-color:rgba(239, 241, 241, 0.986) ;
}
::selection {
    background-color: rgb(250, 228, 103);
    color:black;
}
.nav-bg{
    background-color: rgb(46, 34, 32);
    margin-bottom: 80px;
}
pre{
    border-radius:6px;
}
code{
    padding: 10px;
}


@media only screen and (max-width: 600px) {
  code{
    padding: 5px;
    font-size
  }
  pre{
	font-size:16px;
  }
}
